<head>
  <meta charset="utf-8">
  <meta name ="viewport" content="width=device-width">
  <meta name ="description" content="STEM opportunities and mentorship in Howard County">
  <meta name ="keywords" content="STEM opportunities, Howard County STEM, STEM in Howard County, STEM mentorship, Howard County STEM mentorship">
  <meta name ="author" content="Angeline Luther">
  <title>HoCoSTEM | {{ page.title }}</title>
  <link rel="stylesheet" href="\css/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</head>
