<nav>
  <ul>
    <li class="{% if page.url == '/index.html' %} current highlight {% endif %}"><a href="{{site.baseurl}}/index.html">Home</a></li>
    <li class="{% if page.url == '/calendar.html' %} current highlight {% endif %}"><a href="{{site.baseurl}}/calendar.html">Calendar</a></li>
    <li class="{% if page.url == '/mentors.html' %} current highlight {% endif %}"><a href="{{site.baseurl}}/mentors.html">Mentors</a></li>
    <li class="{% if page.url == '/opportunities.html' %} current highlight {% endif %}"><a href="{{site.baseurl}}/opportunities.html">Opportunities</a></li>
    <li class="{% if page.url == '/about.html' %} current highlight {% endif %}"><a href="{{site.baseurl}}/about.html">About Us</a></li>
  </ul>
</nav>
