---
title: HoCoSTEM
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include header.html %}
  <body>
    <header>
      <div class="container">
        <div id="sitetitle">
          <h1><span class="highlight">Howard County</span> STEM</h1>
        </div>
        {% include nav.html %}
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Connecting Howard County Students to STEM Opportunities</h1>
        <p>Advice from professionals in the STEM fields, a calendar with events in the nearby community, and more.</p>
        <p>Have questions?  Email hocostem@gmail.com</p>
      </div>
    </section>

    {% include newsletter.html %}

    <section id="boxes">
      <div class="container">
        <div class="box">
          <h3>MTH MNHS and NTHS:</h3>
          <p>To survey STEM professionals for 1/2 hour per survey, <a href = "https://docs.google.com/forms/d/e/1FAIpQLScXKn9QsSWKLcnI2gXO6PfmpQI4VTfybhK693xP6gmsr8GKhQ/viewform">check out this link.</a><p>
        </div>
        <div class="box">
          <h3>Are you a STEM professional?</h3>
          <p>If so, we would love for you to fill out <a href = "https://docs.google.com/forms/d/e/1FAIpQLScHMPmpZdxjoXXhYefMKIm1vg5szgk-lzHTD-A51m4tYfuL6w/viewform?usp=sf_link">this link.</a></p>
        </div>
      </div>
    </section>
    <section id="boxes">
      <div class="container">
        <div class="box">
          <h3>Mentorship</h3>
          <p>Read through our mentors page to learn about the experiences of professionals in a variety of STEM fields.</p>
        </div>
        <div class="box">
          <h3>Events</h3>
          <p>Learn about a wide variety of events through our calendar page.  Check back from time to time to see if anything new is happening in the area.</p>
        </div>
        <div class="box">
          <h3>Opportunities</h3>
          <p>Check out some experiences both in and outside the classroom offered by the Howard County Public School System.</p>
        </div>
      </div>
    </section>

    {% include footer.html %}
  </body>
</html>
